@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --clr-magneta: hsl(293, 100%, 63%);
  --clr-magneta-300: hsl(289, 100%, 72%); /* radio button outline */
  --clr-magneta-200: hsl(289, 100%, 92%);
  --clr-violet: hsl(264, 100%, 61%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 20%, 96%); /* app background */
  --clr-neutral-300: hsl(293, 25%, 92%);
  --clr-neutral-400: hsl(0, 0%, 65%);
  --clr-neutral-800: hsl(271, 36%, 24%); /* submit button background */

  --clr-gradient: linear-gradient(
    to left,
    var(--clr-magneta),
    var(--clr-violet)
  );
  --clr-gradient-reverse: linear-gradient(
    to right,
    var(--clr-magneta),
    var(--clr-violet)
  );

  --clr-text-200: hsl(206, 6%, 79%); /* placeholder text */
  --clr-text-300: hsl(
    276,
    100%,
    81%
  ); /* sub-heading at the top of the app UI */
  --clr-text-400: hsl(270, 7%, 64%); /* paragraph */
  --clr-text-500: hsl(276, 55%, 52%); /* chat on the left */
  --clr-text-600: hsl(271, 15%, 43%); /* chat on the right */
  --clr-text-700: hsl(271, 36%, 24%); /* main heading */

  --ff-primary: 'Rubik', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-fix-300: 8px;
  --fs-fix-400: 11px;
  --fs-fix-500: 12px;

  --fs-200: 0.75rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-800: 2.3rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
  }
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.text-white {
  color: var(--clr-neutral-100);
}

.text-magneta-200 {
  color: var(--clr-magneta-200);
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  align-items: var(--f-align, center);
  justify-content: var(--f-justify, space-between);
  gap: var(--f-gap, 1rem);
}

/* GENERAL STYLING */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-400);
}

h1 {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-800);
}

/* LAYOUT */
.main-container {
  --max-width: 1110px;
  --padding: 2rem;

  margin-top: 60px;
  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.main-container.flex {
  --f-direction: column;
  --f-gap: 1rem;
}

.main-container.flex > * {
  flex: 1 1 100%;
}

@media (min-width: 50em) {
  .main-container {
    margin: 0;
  }

  .main-container.flex {
    --f-direction: row;
  }
}

.text-content {
  order: 1;
}

body {
  background-color: var(--clr-neutral-200);
}

/* SCREEN */
.screen {
  width: 250px;
  border: 10px solid var(--clr-neutral-100);
  border-radius: 30px;
  overflow: hidden;
}

.screen_msg {
  --b-radius: 10px;

  max-width: 130px;
  width: max-content;
  margin: 8px;
  padding: 6px 8px;

  border-top-left-radius: var(--b-radius);
  border-top-right-radius: var(--b-radius);
  border-bottom-right-radius: var(--b-radius);
  border-bottom-left-radius: calc(var(--b-radius) / 2);

  font-size: var(--fs-fix-300);
  line-height: 1.4;
  color: var(--clr-text-500);

  background-color: var(--clr-neutral-300);
}

.screen_img-container {
  --f-direction: row;
  --f-justify: end;
  --f-gap: 8px;

  padding: 8px 8px 0px;
}

.screen_img-container div {
  width: 40px;
  height: 40px;

  border-radius: 10px;
  overflow: hidden;
}

.screen_msg.--msg-left {
  margin-left: auto;

  border-bottom-left-radius: var(--b-radius);
  border-bottom-right-radius: calc(var(--b-radius) / 2);

  color: var(--clr-text-600);
  background-color: var(--clr-neutral-100);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.06);
}

.screen_msg.--msg-left + .screen_msg:not(.--msg-left) {
  margin-top: 15px;
}

.screen_msg.--select-form {
  --f-direction: row;
  --f-gap: 8px;

  width: 160px;
  max-width: 160px;

  color: var(--clr-magneta-200);
  background-image: var(--clr-gradient-reverse);
}

.screen_msg.--select-form span:first-of-type {
  width: 12px;
  height: 12px;
  border: 1px solid var(--clr-magneta-300);
  border-radius: 50%;
}

.screen_msg.--select-form span:last-of-type {
  margin-left: auto;
  margin-right: 10px;
  padding-block: 2px;

  font-size: var(--fs-fix-500);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
}

.screen_input {
  --f-direction: row;

  margin: 15px 8px 10px;
  padding: 5px;
  border-radius: 20px;

  background-color: var(--clr-neutral-100);
}

.screen_input p:first-child {
  margin-left: 20px;
  font-size: var(--fs-fix-300);
  color: var(--clr-text-200);
}

.screen_input p:last-child {
  width: 24px;
  height: 24px;
  padding-top: 3px;
  padding-left: 9px;
  border-radius: 50%;

  color: var(--clr-neutral-100);
  font-size: 14px;
  font-weight: var(--fw-bold);
  background-color: var(--clr-neutral-800);
}

/* USER */
.user {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 30px 15px 10px;
  border-radius: var(--b-radius, 5px);

  background-image: var(--clr-gradient);
}

.user::before {
  content: '';

  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 130px;
  height: 33px;
  border-radius: 13px;

  background-color: var(--clr-neutral-100);
}

.user > span {
  font-size: 18px;
  font-weight: bold;
  transform: scale(0.4, 1);
}

.user_avatar {
  width: 25px;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
  overflow: hidden;
}

.user_title {
  font-size: var(--fs-fix-400);
  font-weight: var(--fw-semi-bold);
}

.user_subtitle {
  font-size: var(--fs-fix-300);
  color: var(--clr-text-300);
}

.user_menu {
  --f-gap: 2px;
  --f-direction: column;

  margin-left: auto;
  border: none;
  background-color: transparent;
}

.user_menu span {
  height: 2px;
  width: 2px;
  background-color: var(--clr-text-200);
}
