@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
  --clr-magneta: hsl(293, 100%, 63%);
  --clr-magneta-300: hsl(289, 100%, 72%);
  --clr-violet: hsl(264, 100%, 61%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(270, 20%, 96%);
  --clr-neutral-400: hsl(0, 0%, 65%);
  --clr-neutral-800: hsl(271, 36%, 24%);

  --clr-gradient: linear-gradient(
    to left,
    var(--clr-magneta),
    var(--clr-violet)
  );

  --clr-text-200: hsl(206, 6%, 79%); /* placeholder text */
  --clr-text-300: hsl(
    276,
    100%,
    81%
  ); /* sub-heading at the top of the app UI */
  --clr-text-400: hsl(270, 7%, 64%); /* paragraph */
  --clr-text-500: hsl(276, 55%, 52%); /* chat on the left */
  --clr-text-600: hsl(271, 15%, 43%); /* chat on the right */
  --clr-text-700: hsl(271, 36%, 24%); /* main heading */

  --ff-primary: 'Rubik', sans-serif;
  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;

  --fs-fix-300: 8px;
  --fs-fix-400: 11px;

  --fs-200: 0.75rem;
  --fs-300: 0.85rem;
  --fs-400: 1rem;
  --fs-800: 2.3rem;
  --fs-900: 3rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
  }
}

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* UTILITY CLASSES */
.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}
.fw-bold {
  font-weight: var(--fw-bold);
}

.text-white {
  color: var(--clr-neutral-100);
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  align-items: var(--f-align, center);
  justify-content: var(--f-justify, space-between);
  gap: var(--f-gap, 1rem);
}

/* GENERAL STYLING */
body {
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  color: var(--clr-neutral-400);
}

h1 {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-800);
}

/* LAYOUT */
.main-container {
  --max-width: 1110px;
  --padding: 2rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}
.main-container.flex {
  --f-direction: column;
  --f-gap: 1rem;
}

.main-container.flex > * {
  flex: 1 1 100%;
}

@media (min-width: 50em) {
  .main-container.flex {
    --f-direction: row;
  }
}

.text-content {
  order: 1;
}

body {
  background-color: var(--clr-neutral-200);
}

/* SCREEN */
.screen {
  width: 250px;
  border: 10px solid var(--clr-neutral-100);
  border-radius: 30px;
  overflow: hidden;
}

.screen_img-container {
  --f-direction: row;
}

/* USER */
.user {
  position: relative;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 30px 15px 10px;
  border-radius: var(--b-radius, 5px);

  background-image: var(--clr-gradient);
}

.user::before {
  content: '';

  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 130px;
  height: 37px;
  border-radius: 13px;

  background-color: var(--clr-neutral-100);
}

.user > span {
  font-size: 18px;
  font-weight: bold;
  transform: scale(0.4, 1);
}

.user_avatar {
  width: 25px;
  border: 1px solid var(--clr-neutral-100);
  border-radius: 50%;
  overflow: hidden;
}

.user_title {
  font-size: var(--fs-fix-400);
}

.user_subtitle {
  font-size: var(--fs-fix-300);
  color: var(--clr-text-300);
}

.user_menu {
  --f-gap: 2px;
  --f-direction: column;

  margin-left: auto;
  border: none;
  background-color: transparent;
}

.user_menu span {
  height: 2px;
  width: 2px;
  background-color: var(--clr-text-200);
}
